<a href="https://colab.research.google.com/github/birusolankar/Python/blob/main/13_01_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello wrold")

hello wrold

In [8]:
print("Data", "Science", "Mentorship", "Program", "By", "CampusX", sep='-')

Data-Science-Mentorship-Program-By-CampusX

In [13]:
# fromula = (0°C × 9/5) + 32 = 32°F

celsius = float(input("enter the temp in celsius: "))
farenite = celsius*(9/5) + 32
print(farenite, 'F')

enter the temp in celsius: 50
122.0 F

In [14]:
# take number from the user and swap them

num1 = int(input("enter the number: "))
num2 = int(input("enter the numner: "))

num1, num2 = num2, num1
print(num1, num2)

enter the number: 5
enter the numner: 10
10 5

In [19]:
#Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.
x1 = int(input("enter the cood of x1: "))
y1 = int(input("enter the cood of x2: "))
x2 = int(input("enter the cood of y1: "))
y2 = int(input("enter the cood of y2: "))

coordinates1 = (x1, y1)
coordiantes2 = (x2, y2)
euclidian_distance = ((x2-x1)**2 + (y2-y1)**2)**0.5
print(f"ecludian distance of a given coordinates {coordinates1}, {coordiantes2} is ",round(euclidian_distance,2))

enter the cood of x1: 0
enter the cood of x2: 0
enter the cood of y1: 2
enter the cood of y2: 2
ecludian distance of a given coordinates (0, 0), (2, 2) is  2.83

In [25]:
#Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

#simple interest formula is A = P(1 + rt)
# where A = total amount
# P = principa amount
# r = rate of interset
# t = time period

P = float(input("enter the principal amount: "))
r = float(input("enter the rate of interest: "))
t = float(input("enter the time period: "))

total_amount = (P*r*t)/100
print(f"simple ineterest is {total_amount}")

enter the principal amount: 10000
enter the rate of interest: 10
enter the time period: 2
simple ineterest is 2000.0

##Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
For example: Input: heads -> 4 legs -> 12
Output: dogs -> 2 chicken -> 2

In [2]:
# sum of squares of first n natural numbers is
# [n(n+1)(2n+1)] / 6.
n = int(input("enter the number: "))

sum = (n*(n+1)*(2*n + 1))/6

print(sum)

enter the number: 10
385.0

In [6]:
#Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
#an = a + (n − 1)d.

# an = nt term
# n = number of terms
# d = difference between two term

first_term = int(input("enter the first term: "))
second_term = int(input("enter the second term: "))

d = second_term - first_term
n = int(input("enter the number of terms: "))
a = first_term

nth_term = a + (n - 1)*d

print(nth_term)

enter the first term: 3
enter the second term: 6
enter the number of terms: 5
15