<a href="https://colab.research.google.com/github/birusolankar/Python/blob/main/lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
name = input("Enter your name: ")
list_of_name = name.split()
num = int(input("Enter the number: "))
if num % 3 == 0 and num % 5 !=0:
  print(list_of_name[0])
elif num % 3 != 0 and num % 5 ==0:
  print(list_of_name[1])
elif num % 3 == 0 and num % 5 ==0:
  (print(list_of_name[0:]))
else:
  print("num is not divisible")

Enter your name: Biru Solankar
Enter the number: 21
Biru

In [38]:
x = lambda x : x**2
x(10)

100

In [39]:
a = lambda x,y : x+y
a(4,8)

12

In [40]:
# lambda has no return value
# it is written in one line
# Not used for code reusabilty
# they dont have name like normal function



# they are typically used with higher order function

In [41]:
# lets check whether first letter of a string contains a or not by using lambda function

fun = lambda x: x[0] == 'a'
fun("apple")

True

In [42]:
fun("banana")

False

In [43]:
# lets check given number odd or even by using lamabda function

odd_even = lambda x: "Even" if x%2 == 0 else "odd"
odd_even(5)

'odd'

In [44]:
odd_even(10)

'Even'

In [45]:
def return_sum(L):

  even_numbers = []
  odd_numbers = []
  div3_numbers = []

  even_sum = 0
  odd_sum = 0
  div3_sum = 0

  for i in L:
    # even numbers sum
    if i%2 == 0:
      even_numbers.append(i)
      even_sum = even_sum + i
      #print(even_sum)

    # odd numbers sum
    elif i%2 != 0:
      odd_numbers.append(i)
      odd_sum = odd_sum + i
      #print(odd_sum)

    # numbers divisible by 3 sum
    if i%3 == 0:
      div3_numbers.append(i)
      div3_sum = div3_sum + i
      #print(div3_sum)


  return (even_numbers, even_sum, odd_numbers, odd_sum, div3_numbers, div3_sum)

In [46]:
L = [11,23,34,55,12,33,22,20]
return_sum(L)

([34, 12, 22, 20], 88, [11, 23, 55, 33], 122, [12, 33], 45)

In [47]:
# Higher order functions--> functions takes another function as input

In [48]:
def return_sum1(fun, l):

  result = 0

  for i in l:

    if fun(i):
      result = result + i

  return result

In [49]:
even_sum = lambda x: x%2 == 0
odd_sum = lambda y: y%2 != 0
div3_sum = lambda z: z%3 ==0

In [50]:
l = [11,23,34,55,12,33,22,20]

print(return_sum1(even_sum,l))
print(return_sum1(odd_sum,l))
print(return_sum1(div3_sum,l))

88
122
45

# Map
# Filter
# Reduce

In [51]:
# Map--> map functions takes two things as arguments one is function which is lambda function second is iterables
# map functions performs some operation on the given iterators
# it performs operations on each item
l = [1,2,3,4,5,6]

list(map(lambda x: x**2, l))
lambda x: x**2

In [52]:
list(map(lambda x: x%2 == 0, l))

[False, True, False, True, False, True]

In [53]:
students = [
    {"name": "Biru",
    "occupation":"data scientist",
    "salary":30000},
    {"name":"Arjun",
     "occupation":"data analyst",
     "salary":35000},
    {"name":"Vikram",
     "occupation":"human resource management",
     "salary":40000}
]

In [54]:
students

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000},
 {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [55]:
for i in students:
  print(i["name"])

Biru
Arjun
Vikram

In [56]:

# lets print this first name, occupation and salary using map function

print(list(map(lambda first_name: first_name["name"],students)))
print(list(map(lambda occupation: occupation["occupation"],students)))
print(list(map(lambda salary: salary["salary"],students)))

['Biru', 'Arjun', 'Vikram']
['data scientist', 'data analyst', 'human resource management']
[30000, 35000, 40000]

In [57]:
for i in students:
  print(i)

{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000}
{'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000}
{'name': 'Vikram', 'occupation': 'human resource management', 'salary': 40000}

In [58]:
# FILTER
# Filter function filter record based on given condition

In [59]:
L = [1,2,3,4,5,7]

list(filter(lambda x:x>4, L))

[5, 7]

In [60]:
list(filter(lambda salary: salary["salary"]> 30000, students))

[{'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [61]:
list(filter(lambda first_name: first_name["name"][0]== 'A', students))

[{'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000}]

In [62]:
list(filter(lambda name:'B' in name, students))

[]

In [63]:
fruits = ['Apple', 'Orange', 'Guava', 'Grapes']

In [64]:
list(filter(lambda fruit: 'e' in fruit, fruits))

['Apple', 'Orange', 'Grapes']

In [65]:
# reduce-->
L = [1,2,4,5,6,8,34,67]

import functools

functools.reduce(lambda x, y: x + y, L)

127

In [66]:
sum = 0

for i in L:
  sum = sum + i
print(sum)

127

In [67]:
functools.reduce(lambda x,y: x if x>y else y, L)

67

In [68]:
functools.reduce(lambda x,y:x if x<y else y,L)

1

# List Comprehension

In [76]:
# List comprehension example
student_name1 = [name for name in students]
print(student_name1)
student_names = [name['name'] for name in students]
student_names

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000}, {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000}, {'name': 'Vikram', 'occupation': 'human resource management', 'salary': 40000}],

['Biru', 'Arjun', 'Vikram']

In [77]:
print(list(map(lambda name: name, students)))
list(map(lambda name:name['name'], students))

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000}, {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000}, {'name': 'Vikram', 'occupation': 'human resource management', 'salary': 40000}]

['Biru', 'Arjun', 'Vikram']

In [79]:
# Doubling the list elemnet using list comrehension
L = [1,2,3,5,6,8]

a = [l*2 for l in L]
a

[2, 4, 6, 10, 12, 16]

In [80]:
b = [b**2 for b in L]
b

[1, 4, 9, 25, 36, 64]

In [82]:
odd_square = [a**2 for a in L if a%2 != 0]
odd_square

[1, 9, 25]

In [84]:
even_square = [a**2 for a in L if a%2 == 0]
even_square

[4, 36, 64]

In [85]:
fruits

['Apple', 'Orange', 'Guava', 'Grapes']

In [86]:
fruit = [fruit for fruit in fruits if fruit[0]=='G']
fruit

['Guava', 'Grapes']

In [88]:
students

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000},
 {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [87]:
# salary = [salary for salary in students if salary > 35000] # dictionary don't work here
# in roder to work on dictionary we use dictionary comprehension

TypeError: ignored

In [106]:
D = {"name":"Biru", "occupation":"data scientist", "salary": 50000}
D

{'name': 'Biru', 'occupation': 'data scientist', 'salary': 50000}

In [107]:
D.items()

dict_items([('name', 'Biru'), ('occupation', 'data scientist'), ('salary', 50000)])

In [108]:
D1 = {key:value for key,value in D.items() if len(key)>3}
D1

{'name': 'Biru', 'occupation': 'data scientist', 'salary': 50000}

In [111]:
L

[1, 2, 3, 5, 6, 8]

In [113]:
# dictionary comprehension on list

D2 = {item:item**2 for item in L}
D2

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 8: 64}

In [116]:
D3 = {item:item**2 for item in L if item%2 == 0}
D3

{2: 4, 6: 36, 8: 64}