<a href="https://colab.research.google.com/github/birusolankar/Python/blob/main/Python_06_11_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string = str('hello world')

In [ ]:
string

'hello world'

In [ ]:
L = [1,2,3,4,5,6]

In [ ]:
a = str(L)

In [ ]:
type(a)

str

In [ ]:
# Imports
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [7]:
def fun(string):
  words = string.split()
  if words[0][0].lower() != words[1][0].lower():
    return False
  else:
    return True

In [9]:
fun('chha chapati')

True

In [2]:
words = 'hello world'

words = words.split()

In [5]:
words[1][0]

'w'

In [10]:
# palindrome words

def palindrome(string):
  if string == string[::-1]:
    return True
  else:
    return False

In [11]:
palindrome('madam')

True

In [15]:
string = 'principal component analysis'

string[::-1]

'sisylana tnenopmoc lapicnirp'

In [16]:
# calculate the sum of given integer

def intger_sum(integer):
  sum = 0
  for i in str(integer):
    sum += int(i)
  return sum

In [17]:
intger_sum(121)

4

In [19]:
def sum_list(L):
  sum = 0
  for i in L:
    for j in str(i):
      sum += int(j)
  return sum

In [20]:
sum_list(L)

21