<a href="https://colab.research.google.com/github/birusolankar/Python/blob/main/pyton4_12_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
class Phone():
  # parent class
  def __init__(self, price, brand, camera):
    self.price= price
    self.brand= brand
    self.camera= camera

  def buy(self):
    print("buying a phone")
# child class

class SmartPhone(Phone):
  pass

In [ ]:
s = SmartPhone(20000, 'samsung', 15)

In [ ]:
s.brand

'samsung'

In [ ]:
obj = Phone(50000, 'Apple', 15)

In [ ]:
obj.buy()

buying a phone

In [ ]:
obj.brand

'Apple'

In [ ]:
obj.price

50000

In [ ]:
class Phone():

# parent class
  def __init__(self, brand, price, camera):
    self.brand = brand
    self.price = price
    self.camera = camera

  def buy(self):
    print("buying a new pone")

# child class

class SmartPhone(Phone):

  def __init__(self, brand, price, camera, os, ram):
    super().__init__(brand, price, camera)
    self.os = os
    self.ram = ram

  def configuration(self):
    print('configuration of new phone is here')

In [ ]:
s = SmartPhone('Apple', 50000, 15, 'Android', '12GB')

In [ ]:
s.brand

'Apple'

In [ ]:
s.os

'Android'

In [ ]:
# constructor overriding

class Phone():

  def __init__(self, price, brand, camera):
    self.price = price
    self.brand = brand
    self.camera = camera

  def buy(self):
    print("Buying a phone")


class SmartPhone(Phone):

  def buy(self):
    print('Buying a smartphone')

    super().buy()

In [ ]:
s = SmartPhone(50000, 'Apple', 50)

In [ ]:
s.buy()

Buying a smartphone
Buying a phone

In [ ]:
# constructor overriding

class Phone():

  def __init__(self, brand, price, camera):
    print("Inside the parent class constructor")
    self.brand = brand
    self.price = price
    self.camera = camera

  def buy(self):
    print("buying a phone")

class SmartPhone(Phone):

  def __init__(self, brand, price, camera, os, ram):
    print("Inside the child class constructor")
    super().__init__(brand, price, camera)
    self.brand = brand
    self.price = price
    self.camera = camera
    self.os = os
    self.ram = ram

  def buy(self):
    print("Buying a smartphone")

    super().buy()

In [ ]:
s = SmartPhone("Apple", 50000, 50, "android", 12)

Inside the child class constructor
Inside the parent class constructor

In [ ]:
s.buy()

Buying a smartphone
buying a phone

In [ ]:
s.brand

'Apple'

In [ ]:
students = [
    {"name": "Biru",
    "occupation":"data scientist",
    "salary":30000},
    {"name":"Arjun",
     "occupation":"data analyst",
     "salary":35000},
    {"name":"Vikram",
     "occupation":"human resource management",
     "salary":40000}
]

In [ ]:
students

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000},
 {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [ ]:
for i in students:
  print(i['name'])

Biru
Arjun
Vikram

In [ ]:
list(map(lambda name: name['name'], students))

['Biru', 'Arjun', 'Vikram']

In [ ]:
list(map(lambda name: name, students))

[{'name': 'Biru', 'occupation': 'data scientist', 'salary': 30000},
 {'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [ ]:
list(filter(lambda salary: salary['salary']> 30000, students))

[{'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000},
 {'name': 'Vikram',
  'occupation': 'human resource management',
  'salary': 40000}]

In [ ]:
list(filter(lambda first_name: first_name['name'][0] == 'A', students))

[{'name': 'Arjun', 'occupation': 'data analyst', 'salary': 35000}]

In [ ]:
# create a function with docstring

def is_even(num):

  """this function takes any int as input and returns whether that
  number is odd/even
  created on - 4/12/2023"""
  if num%2 == 0:
    return 'even'
  else :
    return 'odd'

In [ ]:
# now calling a function
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
# types of arguments

##Types of arguments


1.   Default argument
2.   Positional argument
3.   Keyword arguments
4.   *args
5.   *kwargs

In [ ]:
# args
def multiply(*args):
  product=1

  for i in args:
    product = product*i

  return product

In [ ]:
multiply(1,2,3,4,6)

144